<div id="board" (click)="click$.next('click')">
  <div class="musicians">
    <app-instrument name="percussion"></app-instrument>
    <app-instrument name="woodwinds"></app-instrument>
    <app-instrument name="strings"></app-instrument>
    <app-instrument name="brass"></app-instrument>
  </div>
  <div class="conductor">
    <img src="assets/conductor.svg" title="orchestra conductor" />
  </div>
  <div class="audience">
    <img src="assets/audience.svg" title="audience" />
    <div class="big-text">{{yay}}</div>
    <img src="assets/audience.svg" title="audience" />
  </div>
</div>
